body {
  margin: 0;
  background-color: #ecf0f1;
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #34495e;
}

.box {
  display: inline-block;
  width: 30%;
  margin: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 130px;
  background-color: white;
}

.graph-1 {
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  height: 300px;
  background-color: white;
  width: 61%;
}
.graph-2 {
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  height: 300px;
  background-color: white;
  width: 30%;
}

.social {
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  width: 92%;
  height: 100px;
  background-color: white;
  margin-bottom: 25px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}
