body {
  margin: 0;
  background-color: #ecf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #34495e;
}

.box {
  display: inline-block;
  width: 30%;
  margin: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 130px;
  color: #ffffff;
}

  .b-green{
    background-color: #27AE60;
  }
  .b-yellow{
    background-color: #F1C40F;
  }
  .b-red{
    background-color: #CB4335;
  }


.graph {
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  height: 300px;
  background-color: white;
}
  .graph img{
    height: 220px;
  }

  .g-1{
    width: 61%;
  }

  .g-2{
    width: 30%;
  }

.social {
  display: inline-block;
  margin: 5px;
  margin-top: 25px;
  border-radius: 5px;
  width: 92%;
  height: 100px;
  background-color: white;
  margin-bottom: 25px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}
